<div class = "container">
  <div class = "nav">
    Home <br />
    Taco Menu <br />
    DL<br />
    Hours<br />
    Directions<br />
    Contact<br />
  </div>
  <div class = "section">
    section of margin left style make sure there is enough space for nav elements.
  </div>
  <div class = "section">
    每当提起音乐你想到的是什么呢？是钢琴？吉他？是一个个音符🎵？还是贝多芬？莫扎特？我说我想到的是一些字，就像这样，你能猜到这是什么吗？

    中国最古老的乐器，（古）琴，距今已经有三千多年的历史，我们经常说，“琴瑟在御，莫不静好”，“琴棋书画”，指的都是（古）琴，其实我并不乐意在琴前面加上“古”字，那似乎会把它与现代人的距离拉远。琴，并不是一种在我们现在世界里消失的乐器，它还依然充满活力，只是它似乎失去了它应有的地位。
    中国十大古典音乐里有七首都是古琴曲：《〈高山〉〈流水〉》《梅花三弄》《〈阳春〉〈白雪〉》《渔樵问答》《胡笳十八拍》《广陵散》《平沙落雁》，这些耳熟能详的曲目，大多是以纯古琴曲而流传于世的。


  </div>
  <div class = "section">
    pay attention to what happen in your window it is amazing
  </div>
</div>

